.reg_form  {
    position: relative;
    top: 110px;
    background-color:transparent;
    width: 600px;
    height: 450px;
    margin: auto;
    background-image: url(pexels-steve-johnson-1183992.jpg);
    background-size: 300px 450px;
    background-repeat: no-repeat;
    border-radius: 5%;
    box-shadow:0 16px 5px mustard;
}