.image {
  display: block;
  width: 90%;
  height: 50vh;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: pink;
  overflow: hidden;
  opacity: 80%;
  width: 90%;
  height: 0;
  transition: 0.5s ease;
}

.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: grey;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container2 {
  position: relative;
  width: 20vw;
  margin: 5%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.body {
  /* height: 100vh; */
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
}

.AboutUs {
  background: teal;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutUs h1 {
  font-size: 4rem;
  font-family: 'Alef', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  letter-spacing: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: beige;
}

.vision {
  background: beige;
  margin: 5vw;
  padding: 2% 5%;
}
