body {
  margin: 0;
  background-color: pink;
}
h1 {
  text-shadow: 0 1px #7f7f7f;
  text-shadow: 0 2px #404040;
  font-family: 'Sans-Serif';
  font-size: 2rem;
  line-height: 1;
  margin: 30px auto 10px;
}
.reg_form  {
  position: relative;
  top: 110px;
  background-color:transparent;
  width: 600px;
  height: 450px;
  margin: auto;
  background-size: 300px 450px;
  background-repeat: no-repeat;
  border-radius: 5%;
  box-shadow:0 16px 5px silver;
}
.image { display: inline-block;
  margin: 0;
  height: 450px;
  width: 300px;
}
.details {
  height: 450px;
  width: 600px;
  background-color: lightgreen;
  color: white;
  text-align: center;
  float: right;
  box-sizing: border-box;
  border-radius: 5% 5% 5% 5%;
}
input {
  line-height: 3;   background-color: #42BFDD;
  width: 200px;
  height: 40px;
  border: none;
  color: grey;
  border-width: 200px;
  border-bottom: solid grey 1px;
  font-family: 'Merriweather', serif;;
}
.submit {
  border: none;
  border-radius: 10%;
  background-color: #FF8808;
  color: honeydew;
  width: 125px;
  font-size : 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px hsl(79, 80%, 29%),
              0 4px 5px hsl(79, 80%, 19%),
              0 6px 5px hsl(79, 80%, 9%),
              0 8px 5px hsl(79, 80%, 2%);
}
