/*FORM STYLING*/

#FormImage {
  width: 100px;
  height: 100vh;
  display: inline-block;
  overflow: hidden;
  background: url("https://images.hdqwalls.com/download/white-cube-pattern-4k-bu-720x1280.jpg");
}

#form {
  display: inline-block;
  margin-left: 20px;
  right: 10vw;
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  top: 20px;
  position: absolute;
}
#form input {
  display: inline-block;
  width: 200px;
  padding: 0 20px;
  margin: 20px;
  line-height: 50px;
  height: 50px;
  background: powderblue;
  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

#form input:hover {
  border: 2px solid black;
}

#FormWrap {
  border: 1px solid blueviolet;
  display: inline-block;
  width: 40vw;
  height: 100vh;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
  position: fixed;

  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  opacity: 80%;
}

body {
  background: url("../images/background.jpg");
  position: relative;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/*BUTTON STYLING*/

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 40px 0px;
  width: 100px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  /*height: 50px;*/
  left: 70px;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/*PAGE TEXT*/

#SignUpIntro {
  z-index: 6;
  position: absolute;
  right: 30vw;
  top: 20vh;
  line-height: 50px;
}

#Heading {
  left: 9vw;
  position: absolute;
  z-index: 10;
  font-family: "Merriweather", serif;
  background: white;
  display: inline-block;
}
